.header {
  display: flex;
  color: $primary-color; 
  padding: 0.7rem; 
  justify-content: center;
  margin-bottom: 2rem;
  border-radius: 12px; 
  border: 1px solid $primary-color;
  font-family: 'Space Grotesk', sans-serif;

  &__title {
    margin: 0;
    font-size: 2rem; 
  }
}